<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cyl.hospital.mapper.RegisterMapper">

    <resultMap id="registerResultMap" type="registerInfo">
        <id column="id" property="id" jdbcType="INTEGER"></id>
        <result column="caseNumber" property="caseNumber" jdbcType="VARCHAR"></result>
        <result column="realName" property="realName" jdbcType="VARCHAR"></result>
        <result column="sex" property="sex" jdbcType="VARCHAR"></result>
        <result column="idCard" property="idCard" jdbcType="VARCHAR"></result>
        <result column="birthday" property="birthday" jdbcType="DATE"></result>
        <result column="age" property="age" jdbcType="INTEGER"></result>
        <result column="address" property="address" jdbcType="VARCHAR"></result>
        <result column="visitDate" property="visitDate" jdbcType="DATE"></result>
        <result column="deptId" property="deptId" jdbcType="INTEGER"></result>
        <result column="levelId" property="levelId" jdbcType="INTEGER"></result>
        <result column="doctorId" property="doctorId" jdbcType="INTEGER"></result>
        <result column="isBook" property="isBook" jdbcType="CHAR"></result>
        <result column="createTime" property="createTime" jdbcType="TIMESTAMP"></result>
        <result column="cost" property="cost" jdbcType="DOUBLE"></result>
        <result column="registerId" property="registerId" jdbcType="INTEGER"></result>
        <result column="status" property="status" jdbcType="INTEGER"></result>
        <result column="price" property="price" jdbcType="INTEGER"></result>
        <result column="type" property="type" jdbcType="INTEGER"></result>
        <association property="dept" resultMap="deptResultMap" javaType="department"></association>
        <association property="user" resultMap="userResultMap" javaType="userInfo"></association>
        <association property="regLve" resultMap="RegisterLevelResultMap" javaType="registerLevel"></association>
        <association property="mRecord" resultMap="medicalRecordMap" javaType="medicalRecord"></association>
        <association property="applyRecord" resultMap="ciApplyRecordMap" javaType="ciApplyRecord"></association>
    </resultMap>

    <resultMap id="deptResultMap" type="department">
        <result column="deptName" property="deptName"></result>
    </resultMap>
    <resultMap id="RegisterLevelResultMap" type="registerLevel">
        <result column="levelName" property="levelName"></result>
    </resultMap>
    <resultMap id="userResultMap" type="userInfo">
        <result column="uname" property="realName"></result>
    </resultMap>
    <resultMap id="medicalRecordMap" type="medicalRecord">
        <result column="checkResult" property="checkResult"></result>
        <result column="finalDiagnosis" property="finalDiagnosis"></result>
    </resultMap>
    <resultMap id="ciApplyRecordMap" type="ciApplyRecord" >
      <result column="itemName" property="itemName"></result>
      <result column="itemId" property="itemId"></result>
      <result column="number" property="number"></result>
      <result column="createTime" property="createTime"></result>
      <result column="payStatus" property="payStatus"></result>
      <result column="total" property="total"></result>
      <result column="doctorId" property="doctorId"></result>
      <result column="recordType" property="recordType"></result>
    </resultMap>

    <!--挂号-->
    <insert id="addRegister" parameterType="registerInfo" >
    insert into registerinfo (
        caseNumber, realName,
        sex, idCard, birthday,
        age, address, visitDate,
        deptId, levelId, doctorId,
        isBook, cost,
        registerId, status)
    values (#{caseNumber,jdbcType=VARCHAR}, #{realName,jdbcType=VARCHAR},
      #{sex,jdbcType=VARCHAR}, #{idCard,jdbcType=VARCHAR}, #{birthday,jdbcType=DATE},
      #{age,jdbcType=INTEGER}, #{address,jdbcType=VARCHAR}, #{visitDate,jdbcType=DATE},
      #{deptId,jdbcType=INTEGER}, #{levelId,jdbcType=INTEGER}, #{doctorId,jdbcType=INTEGER},
      #{isBook,jdbcType=CHAR},#{cost,jdbcType=DOUBLE},
      #{registerId,jdbcType=INTEGER}, #{status,jdbcType=INTEGER})
  </insert>

    <!--查询挂号信息列表-->
    <select id="getRegisterList" resultMap="registerResultMap">
        select
        r.* , d.deptname , u.realname uname , rl.levelname
        from registerinfo r ,department d,userinfo u, registerLevel rl
        where r.deptid=d.id and r.doctorid = u.userid and r.levelid=rl.id order by r.id asc
    </select>

    <!--根据病历号查询信息-->
    <select id="getRegisterByCaseNumber" parameterType="string" resultMap="registerResultMap">
        select
        r.* , d.deptname , u.realname uname , rl.levelname
        from registerinfo r ,department d,userinfo u, registerLevel rl
        where r.deptid=d.id and r.doctorid = u.userid and r.levelid=rl.id and caseNumber=#{caseNumber}
    </select>

    <!--退号-->
    <update id="updateRegisterStatus" parameterType="string">
        update registerInfo set status=4 where caseNumber=#{caseNumber}
    </update>

    <!--已诊-->
    <select id="getRegisterByDoctorHave" parameterType="int" resultMap="registerResultMap">
        select
        r.*,d.deptName,u.realName uname,r1.levelName
        from registerInfo r,department d,registerLevel r1,userInfo u
        where r.deptId=d.id and r.doctorId=u.userId and r.levelId=r1.id
        and u.userId=#{userId} and r.status in(2,3)
    </select>

    <!--未诊-->
    <select id="getRegisterByDoctorNot" parameterType="int" resultMap="registerResultMap">
        select
        r.*,d.deptName,u.realName uname,r1.levelName
        from registerInfo r,department d,registerLevel r1,userInfo u
        where r.deptId=d.id and r.doctorId=u.userId and r.levelId=r1.id
        and u.userId=#{userId} and r.status=1
    </select>

    <!--医生接诊修改患者挂号信息状态-->
    <update id="updateRegisterStatusDocAccept" parameterType="string">
        update registerInfo set status=2 where caseNumber=#{caseNumber}
    </update>

    <!--医生诊毕修改患者挂号信息状态-->
    <update id="updateRegisterStatusDocEnd" parameterType="string">
        update registerInfo set status=3 where caseNumber=#{caseNumber}
    </update>

    <!--确诊功能中 根据病历号查询患者挂号基础信息何病例信息，患者状态为看诊结束-->
    <select id="getPatientMedicalRecordByCaseNumber" parameterType="string" resultMap="registerResultMap">
        select
        r.caseNumber,r.realName,r.sex,r.age,
        mr.checkResult,mr.finalDiagnosis
        from registerInfo r,medicalRecord mr
        where r.casenumber=mr.caseNumber and r.status=3 and r.caseNumber=#{caseNumber}
    </select>
    <!--根据病历号查询患者基础数据和申请项目记录信息-->
    <select id="getPatientCIApplyRecord" parameterType="string" resultMap="registerResultMap">
        select
        r.caseNumber,r.realName,r.sex,r.idCard,
        ciar.*,
        c.price,c.type
        from registerInfo r,ciapplyRecord ciar,checkInspectItemInfo c
        where r.caseNumber = ciar.caseNumber and ciar.itemId = c.id and r.caseNumber=#{caseNumber}
    </select>
</mapper>